{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Mi blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item left">
                <h1>
                    <a class= "nav-link"href="{% url 'home' %}">Blog de Piero</a>
                </h1>
            </li>
            <li class="nav-item rigth">
                <div class="hola">
                {% if user.is_authenticated %}
                <span class="text-white">Hola {{ user.username }}!</span>
                <a class="btn btn-primary" href="{% url 'logout' %}">Log out</a>
                {% else %}
                <span class="text-white">No iniciaste sesion.</span>
                <a href="{% url 'singup' %}">Sing Up</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
                {% endif %}
                <a  class="btn btn-success" href="{% url 'post_new' %}">Nuevo post</a>
                </div>
            </li>
        </ul>
        
    </nav>
    <main class="container">
    {% block content %}
    {% endblock content %}
    </main>
    <footer class="container-fluid">Piero 2021</footer>
</body>
</html>